

.octodex{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: block;
  padding: 10px;
}

.octocat {
  display: inline-block;
  height: 400px;
  width: 350px;
  position: relative;
  border-bottom: 1px solid rgb(200,199,200);

}

.octocat img{
  display: inline-block;
  height:350px;
  border: 1px solid rgb(200,199,200);
  border-radius: 1%;
}

.image-footer span{
  font-family: Arial;
  font-weight: bold;
  color: grey;
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: 0;

}

.image-caption a{
  color:black;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
  text-decoration: none;
}

.authors{
  display: inline;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  float: right;


  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid rgb(200,199,200);


}
.clearfix{
  clear: both;
}
.authors:before {
width: 0;
height: 0;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 10px solid rgb(200,199,200);
}



.authors img{
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 10%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;


}


.image-footer{
    margin-top: auto;
    margin-right: 20px;
    display: block;
    height: 12px;
    color: grey;


  }
.image-number{

  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  font-family: serif;
  color: rgb(200,199,200);
  float: left;
  position: relative;
  top: 15px;


}

.image-number:before{
  content: "#";
}


.image-caption{
  text-decoration: none;
  display: inline-block;
  color: rgb(128,128,128);
  height: 12px;
  float: right;


}
.image-caption span{
  color: rgb(128,128,128);
}
